@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container"> <!--Contains all the rows-->
	<div class="row mx-0"> <!--row one start-->
		<div id="titlediv"> <!--Title bar div-->
			West Virginia Institute of Technolgy Yearbook
		</div>
	</div> <!-- row one end -->

	<div class="row"> <!--row two start-->
		<div class="col-4">
			<div class="card mt-3">
				<div class="card-header">
					<div class="row">
						<div class="col fw-bold">
							Bruce Wayne
						</div>
						<div class="col text-end">
							GPA 4.0
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="~/Images/Absolute Batman.jpg" style="width: 250px; height:250px;">
					</div>
					<div class="text-center">
						2026
					</div>
				</div>
			</div><!--Student profile 1-->
		</div>
		<div class="col-4">
			<div class="card mt-3">
				<div class="card-header">
					<div class="row">
						<div class="col fw-bold">
							Lieutenant Titus
						</div>
						<div class="col text-end">
							GPA 2.6
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="~/Images/Lieutenant Titus.jpg" style="width: 250px; height:250px;">
					</div>
					<div class="text-center">
						40XXX
					</div>
				</div>
			</div><!--Student profile 2-->
		</div>
		<div class="col-4">
			<div class="card mt-3">
				<div class="card-header">
					<div class="row">
						<div class="col fw-bold">
							Johnny Silverhand
						</div>
						<div class="col text-end">
							GPA 3.23
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="~/Images/Johnny Silverhand.jpg" style="width: 250px; height:250px;">
					</div>
					<div class="text-center">
						2077
					</div>
				</div>
			</div><!--Student profile 3-->
		</div>
	</div> <!-- row two end -->


	<div class="row"><!-- row three start-->
		<div class="col-4">
			<div class="card mt-3">
				<div class="card-header">
					<div class="row">
						<div class="col fw-bold">
							Frank Horrigan
						</div>
						<div class="col text-end">
							GPA 3.23
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="~/Images/Frank Horrigan.jpg" style="width: 250px; height:250px;">
					</div>
					<div class="text-center">
						2187
					</div>
				</div>
			</div><!--Student profile 3-->
		</div>
	</div><!--row three end-->
</div>


